:root {
  --body-color: #404040;
  --card-dark: #212529;
  --card-darkblue: #343a40;
  --card-lightdark: #323038;
  --text-lightgray: #babfbb;
  --text-selected: #b5ae4f;
}

body {
  background-color: var(--body-color);
}

.card-body {
  background-color: var(--card-dark);
}

.copyright {
  background-color: var(--card-lightdark) !important;
  z-index: 1;
}

.copyright span {
  color: var(--text-lightgray);
}

.main {
  background-image: url("../assets/img/circle-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar-brand {
  color: var(--text-lightgray) !important;
  font-weight: bold;
}

.active {
  color: var(--text-selected) !important;
  font-weight: bold;
}

.text-link {
  color: #b5ae4f;
  text-decoration: none;
}

.text-grey {
  color: #babfbb;
}

/* Scroll  */
.scroll::-webkit-scrollbar {
  background-color: var(--card-dark);
  width: 8px;
  height: 8px;
}
.scroll::-webkit-scrollbar-thumb {
  background-color: var(--card-lightdark);
}
