:root {
  --body-color: #404040;
  --card-dark: #212529;
  --card-lightdark: #323038;
  --text-lightgray: #babfbb;
  --text-selected: #b5ae4f;
  --black-gradient: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
}

.navbar-brand {
  color: var(--text-lightgray) !important;
  font-weight: bold;
}

.active {
  color: var(--text-selected) !important;
  font-weight: bold;
}

/* Scroll  */
.scroll::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
.scroll::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 8px;
}
.scroll::-webkit-scrollbar-thumb {
  background-color: #212529;
  border-radius: 8px;
}
