body {
  background-color: var(--body-color);
  height: 100vh;
}

.bg-img {
  min-height: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.card-body {
  background-color: var(--card-dark);
}

.copyright {
  background-color: var(--card-lightdark);
  z-index: 2;
}

.copyright span {
  color: var(--text-lightgray);
}
