body {
  height: 100vh;
}

.text-main {
  margin-bottom: 58px;
  padding-bottom: 52px;
}

@media (min-width: 768px) {
  .img-header {
    position: absolute;
    bottom: 0;
    right: -5em;
    max-height: 90%;
    max-width: 550px;
    width: auto;
    height: auto;
    z-index: 0;
  }
}

@media (max-width: 768px) {
  .img-header {
    display: none;
  }

  #img-col {
    display: none;
  }
}
