body {
  background-color: var(--body-color);
  height: 100vh;
}

.main {
  background-image: url('https://cdn.glitch.com/c51c92b1-8289-488b-9aee-d7513691289d%2Fcircle%20black.png?v=1629849516854');
  background-repeat: no-repeat;
  background-size: cover;
}

.text-main {
  margin-bottom: 58px;
  padding-bottom: 52px;
}

.card-body {
  background-color: var(--card-dark);
}

.copyright {
  background-color: var(--card-lightdark);
  z-index: 2;
}

.copyright span {
  color: var(--text-lightgray);
}
