.myname {
  font-size: 2.5vw;
}

.mydesc {
  font-size: 1.5vw;
}

.text-grey {
  color: #babfbb;
}

.icon-logo {
  margin-left: .25rem;
  margin-right: .25rem;
  margin-top: 4px;
  margin-bottom: 4px;
}

.social-container {
  max-height: 150px;
  overflow: auto;
}

.social-container a img {
  border-radius: .25rem;
}

@media (max-width: 768px) {
  .myname {
    font-size: 5vw;
  }

  .mydesc {
    font-size: 4vw;
  }
}

/* Contact */
.ukuran {
  margin-left: 5%;
  margin-right: 5%;
 background-color: #323038;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea,
#contact button[type="submit"]

#contact {
 padding: 25px;
 margin: 150px 0;
}

#contact h3 {
 display: block;
 font-size: 30px;
 font-weight: 300;
 margin-bottom: 10px;
}

#contact h4 {
 margin: 5px 0 15px;
 display: block;
 font-size: 13px;
 font-weight: 400;
}

fieldset {
 border: medium none !important;
 margin: 0 0 10px;
 min-width: 100%;
 padding: 0;
 width: 100%;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea {
 width: 100%;
 border: 1px solid #ccc;
 background: #323038;
 margin: 0 0 5px;
 padding: 10px;
 color: #888;
}

.apala {
 width: 100%;
 border: 1px solid #ccc;
 background: #323038;
 color: #ccc;
}

.apala:hover {
 background: #ccc;
 color: #323038;
}

#contact input:focus,
#contact textarea:focus {
 outline: 0;
 border: 1px solid #aaa;
}