.profile-img {
  max-width: 220px;
  max-height: 220px;
}

.header {
  font-size: 2rem;
}

.desc-profile {
  background-color: var(--card-darkblue);
  margin: 0 -16px;
  padding: 15px 5vw;
  font-size: 0.8em;
  color: var(--text-lightgray);
}