.profile-img {
  max-width: 220px;
  max-height: 220px;
}

.header {
  font-size: 2rem;
}

.desc-profile {
  background-color: var(--card-darkblue);
  margin: 0 -16px;
  padding: 15px 5vw;
  font-size: 0.8em;
  color: var(--text-lightgray);
}

.desc-profile img {
  margin-top: 2px;
  margin-bottom: 2px;
}

.stats img {
  width: 48%;
  display: inline-block;
  margin: auto;
}

#stats {
  text-align: center;
}

.more-ig {
  font-size: 2rem; 
}

@media (max-width: 767.98px) {
  #readme * {
    font-size: 10px !important;
  }
  
  #readme img {
    width: 30%;
  }
  
  #readme p {
    text-align: center;
  }
  
  .stats img {
    display: inline-block;
    width: 48% !important;
  }
  
  #ig-tag {
    width: 100px !important;
  }
}