<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="icon"
      href="./assets//img/pp4k.jpg"
    />

    <title>Rasyid Rafi</title>

    <!-- Meta tags for SEO and social sharing -->
    <link rel="canonical" href="https://rasyidrafi.glitch.me/" />
    <meta name="description" content="Rasyid Rafi's Website" />
    <meta name="robots" content="index,follow" />
    <meta property="og:title" content="Rasyid Rafi" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="https://rasyidrafi.glitch.me/" />
    <meta property="og:description" content="Rasyid Rafi's Website" />
    <meta
      property="og:image"
      content="./assets//img/pp4k.jpg"
    />
    <meta name="twitter:card" content="summary" />

    <!-- Bootstrap -->
    <link href="./assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="./css/global.css" rel="stylesheet" />
    <link href="./css/index.css" rel="stylesheet" />
  </head>