body,
.main {
  /* background-color: #404040 !important; */
  background: linear-gradient(-45deg, #ee7752, #923ce7, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.card-main {
  background-repeat: repeat-x;
  background-size: cover;
  background-position: center;
  animation: 60s para infinite alternate;
  opacity: 0.85;
}

@keyframes para {
  100% {
    background-position: -5000px 20%, -800px 95%, 500px 50%, 1000px 100%,
      400px 0;
  }
}

.copyright {
  background-color: #323038;
  color: #babfbb;
  z-index: 1;
}

.brand {
  color: #babfbb !important;
  font-weight: bold;
  text-decoration: none;
}

.brand-link {
  text-decoration: none;
  color: inherit;
}

.brand-link:hover {
  color: inherit;
}

.brand-active {
  font-weight: bold;
  color: #b5ae4f !important;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@media (min-width: 768px) {
  .img-header {
    position: absolute;
    bottom: 0;
    right: -5em;
    max-height: 90%;
    max-width: 550px;
    width: auto;
    height: auto;
    z-index: 0;
  }
}

@media (max-width: 768px) {
  .img-header {
    display: none;
  }

  .img-col {
    display: none;
  }
}
